%%Panel.HTMLHead%%
	<body itemscope itemtype="http://schema.org/WebPage">
		%%Panel.DrawerMenu%%
		<div class="page">
			%%Panel.Header%%
			%%Panel.FloatingSocialLinks%%
			<div class="main">
				<div class="inner">
					<div class="Left fleft">
						%%Panel.SideCategoryList%%
						%%Panel.SideShopByBrand%%
						%%Panel.SideCategoryShopByPriceCustom%% 
						%%Panel.SocialLinks%%
					</div>
					<div class="Content Widest" id="LayoutColumn1">
						<!-- <div class="Right">
							Panel.SideSubPageList%%
						</div> -->
						<div class="Content" id="LayoutColumn2">
							%%Panel.WrapperBanner%%
							%%Panel.PageBreadcrumb%%
							<h1 class="TitleHeading">%%GLOBAL_PageTitle%%</h1>
							%%Panel.PageListMobile%%
							<div class="BlockContent PageContent">
								%%GLOBAL_PageDescriptionOptimizerScriptTag%%

<script type="text/javascript">
	$('.TitleHeading').remove();
</script>
<style>
	.wiki-header {
		background-color: #39b54a;
		color: #fff;
		padding: 10px 30px 20px;
		margin-bottom: 30px;
	}
	.wiki-header h1 {
		display: inline-block;
		width: 70%;
		color: #fff;
		padding-bottom: 0px;
	}
	.wiki-header p {
		display: inline-block;
		width: 70%;
		margin: 0;
		line-height: 16px;
	}
	.wiki-header img {
		max-width: 100%;
		height: auto;
		width: 30%;
		position: absolute;
		top: 10px;
		right: 0;
	}
	.wiki-item-grid {
		
	}
	.wiki-item-grid .wiki-item {
		display: inline-block;
		vertical-align: top;
		font-size: 0;
		width: 32%;
		box-sizing: border-box;
		padding: 0;
		-webkit-transition: all 0.27s ease;
		-moz-transition: all 0.27s ease;
		-o-transition: all 0.27s ease;
		transition: all 0.27s ease;
		margin: 3px;
		padding: 1%;
		border-radius: 4px;
	}
	.wiki-item-grid .wiki-item > a {
		display: block;
		width: 100%;
		height: 100%;
		padding: 5%;
		box-sizing: border-box;
		border-radius: 3px;
		border: solid 2px transparent;
		box-shadow: 0 1px 3px rgba(0,0,0, 0.16),0 1px 2px rgba(0,0,0, 0.32);
		background: #fff;
    }
	.wiki-item-grid .wiki-item:hover {
		background: rgba(106, 218, 120, 0.13);
	}
	.wiki-item-grid .wiki-item .wiki-inner {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		-webkit-box-direction: normal;
		-moz-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		min-height: 183px;
	}
	.wiki-item-grid .wiki-item .wiki-left {
		display: inline-block;
		vertical-align: top;
		-webkit-box-flex: 4;
		-moz-box-flex: 4;
		width: 40%;
		-webkit-flex: 4;
		-ms-flex: 4;
		flex: 4;
		position: relative;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	.wiki-item-grid .wiki-item .wiki-left img {
		padding: 0 5px 0 0;
		box-sizing: border-box;
	}
	.wiki-item-grid .wiki-item .wiki-right {
		display: inline-block;
		-webkit-box-flex: 7;
		-moz-box-flex: 6;
		width: 60%;
		-webkit-flex: 6;
		-ms-flex: 6;
		flex: 6;
		margin: auto;
	}
	.wiki-item-grid .wiki-item .wiki-right h2 {
		color: #333;
		font-size: 13px;
		line-height: 15px;
		font-weight: bold;
	}
	.wiki-item-grid .wiki-item .wiki-right p {
		color: #333;
		line-height: 14px;
		font-size: 12px;
		margin: 0;
	}
	/* iPad   Portrait */
	@media only screen 
	  and (max-device-width: 768px) 
	  and (orientation: portrait) {
		.wiki-header h1 {
			width: 50%;
			margin-bottom: 10px;
		}
		.wiki-header p {
			text-align: center;
			width: 50%;
			top: 0;
			margin-bottom: 10px;
		}
		.wiki-header img {
			width: 50%;
			top: 90px;
		}
		.wiki-item-grid .wiki-item {
			width: 49%;
			padding: 2%;
			height: 186px;
		}
	}
	/* iPad    Landscape */
	@media only screen 
	  and (max-device-width: 1024px) 
	  and (orientation: landscape) {
		.wiki-header img {
			top: 50px;
		}
		.wiki-item-grid .wiki-item {
			width: 49%;
			padding: 2%;
			height: 170px;
		}
	}
	/* iPhone 6+ Plus and below Portrait */
	@media only screen and (max-device-width: 414px) and (orientation: portrait) { 
		.wiki-header {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-orient: vertical;
			-moz-box-orient: vertical;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			/* optional */
			-webkit-box-align: start;
			-moz-box-align: start;
			-ms-flex-align: start;
			-webkit-align-items: flex-start;
			align-items: flex-start;
		}
		.wiki-header .wiki-header-text {
			width: 100%;
			padding: 0;
			text-align: center;
		}
		.wiki-header h1 {
			width: 100%;
			-webkit-box-ordinal-group: 1;
			-moz-box-ordinal-group: 1;
			-ms-flex-order: 1;
			-webkit-order: 1;
			order: 1;
			margin-bottom: 20px;
			font-size: 40px;
		}
		.wiki-header img {
			position: static;
			width: 70%;
			-webkit-box-ordinal-group: 2;
			-moz-box-ordinal-group: 2;
			-ms-flex-order: 2;
			-webkit-order: 2;
			order: 2;
			top: 0;
			margin: 0 auto 10px;
		}
		.wiki-header p {
			text-align: center;
			width: 100%;
			-webkit-box-ordinal-group: 3;
			-moz-box-ordinal-group: 3;
			-ms-flex-order: 3;
			-webkit-order: 3;
			order: 3;
			margin-bottom: 10px;
		}
		.wiki-item-grid .wiki-item {
			width: 100%;
		}
		.wiki-item-grid .wiki-item .wiki-inner {
			min-height: 0;
		}
		.wiki-item-grid .wiki-item .wiki-right p {
			text-align: center;
		}
	}
	@media only screen 
	  and (max-device-width: 736px) 
	  and (orientation: landscape) { 
		.wiki-header {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-orient: vertical;
			-moz-box-orient: vertical;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			/* optional */
			-webkit-box-align: start;
			-moz-box-align: start;
			-ms-flex-align: start;
			-webkit-align-items: flex-start;
			align-items: flex-start;
		}
		.wiki-header .wiki-header-text {
			width: 100%;
			padding: 0;
			text-align: center;
		}
		.wiki-header h1 {
			width: 100%;
			-webkit-box-ordinal-group: 1;
			-moz-box-ordinal-group: 1;
			-ms-flex-order: 1;
			-webkit-order: 1;
			order: 1;
			margin-bottom: 20px;
			font-size: 40px;
		}
		.wiki-header img {
			position: static;
			width: 50%;
			-webkit-box-ordinal-group: 2;
			-moz-box-ordinal-group: 2;
			-ms-flex-order: 2;
			-webkit-order: 2;
			order: 2;
			top: 0;
			margin: 0 auto 10px;
		}
		.wiki-header p {
			text-align: center;
			width: 100%;
			-webkit-box-ordinal-group: 3;
			-moz-box-ordinal-group: 3;
			-ms-flex-order: 3;
			-webkit-order: 3;
			order: 3;
			margin-bottom: 10px;
		}
		.wiki-item-grid .wiki-item {
			width: 100%;
			height: 140px;
		}
		.wiki-item-grid .wiki-item .wiki-left img {
			width: 70%;
			display: block;
			margin: 0 auto;
		}
		.wiki-item-grid .wiki-item .wiki-right p {
			text-align: center;
		}
		.wiki-item-grid .wiki-item .wiki-left {
			-webkit-box-flex: 2;
			-moz-box-flex: 2;
			width: 20%;
			-webkit-flex: 2;
			-ms-flex: 2;
			flex: 2;
		}
	}
</style>

<div class="wiki-container">
	<div class="wiki-header">
		<h1>Dank Wiki</h1>
		<p>Not sure how to choose the right water pipe for you? Want to learn how to properly clean your glass piece? Our knowledge base is a list of helpful articles that can answer all types of questions you might have. Whether you are interested in product maintenance, finding the right product for your smoking needs, or gaining a general understanding of how some of our products work, these articles will teach you what you want to know.</p>
		<img src="%%ASSET_images/wiki/dankstop-online-headshop-wiki.png%%" alt="DankStop Online Headshop Wiki"/>
	</div>

	<div class="wiki-item-grid" itemprop="mainEntity" itemscope itemtype="http://schema.org/ItemList">
        <meta itemprop="itemListOrder" content="Unordered">
        
        <ul>
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-03-22T12:22:25+00:00">
	        <meta itemprop="dateModified" content="2015-03-22T12:22:30+00:00">
			<a href="/glass-on-glass-joint-types-and-sizes">
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/glass-on-glass-joint-tpes-sizes/glass-on-glass-joint-types-sizes-wiki-icon.png%%" alt="Glass on Glass Joint Types and Sizes" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">Glass on Glass Joint Types and Sizes</h2>
						<p itemprop="description">Learn all about the different types of glass on glass joints as well as the different sizes of glass on glass joints</p>
					</div>
				</div>
			</a>	
		</li>

		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-03-14T16:56:50+00:00">
	        <meta itemprop="dateModified" content="2015-03-14T16:56:50+00:00">
			<a href="/how-to-choose-the-perfect-herb-grinder/" itemprop="mainEntityOfPage" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_/images/wiki/how-to-choose-perfect-herb-grinder/how_to_choose_the_perfect_grinder-icon.png%%" alt="How to Choose the Perfect Herb Grinder" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">How To Choose The Perfect Herb Grinder</h2>
						<p itemprop="description">We strongly believe that informed customers make the best decisions, which is precisely why we have put together this guide on purchasing a new grinder.</p>
					</div>
				</div>
			</a>	
		</li>

		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-03-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2015-03-07T12:21:50+00:00">
			<a href="/glossary-of-the-different-types-of-nails/" itemprop="mainEntityOfPage" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_/images/wiki/glossary-different-types-nails/different-types-of-nails.png%%" alt="Glossary of the Different Types of Nails" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">Glossary of All Types of Nails</h2>
						<p itemprop="description">Everything you need to know about domed nails, domeless nails, banger nails, universal nails, and many more.</p>
					</div>
				</div>
			</a>	
		</li>

		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2016-02-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2016-02-07T12:21:50+00:00">
			<a href="/the-history-of-glassblowing/" itemprop="mainEntityOfPage" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/history-of-glassblowing-thumbnail.png%%" alt="The History of Glassblowing" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">The History of Glassblowing</h2>
						<p itemprop="description">Learn all about the origins of glassblowing and how old methods evolved over time into present day practices</p>
					</div>
				</div>
			</a>	
		</li>

		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2016-01-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2016-01-07T12:21:50+00:00">
			<a href="/how-to-choose-the-best-water-pipe/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/how-to-choose-the-best-water-pipe.png%%" alt="How to Choose the Best Water Pipe" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">How to Choose the Best Water Pipe</h2>
						<p itemprop="description">Choosing a new water pipe doesn't have to be a tough decision. Read about what factors to consider before making your next purchase</p>
					</div>
				</div>
			</a>	
		</li>
			
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-12-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2015-12-07T12:21:50+00:00">
			<a href="/how-to-clean-a-glass-pipe/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/how-to-clean-a-glass-pipe.png%%" alt="How to Clean A Glass Pipe" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">How to Clean A Glass Pipe</h2>
						<p itemprop="description">Maintaining your glass piece is important to a satisfying smoking experience. Check out our simple guide on how to clean your glass pipe</p>
					</div>
				</div>
			</a>	
		</li>
			
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-11-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2015-11-07T12:21:50+00:00">
			<a href="/how-to-use-your-bong-for-dabbing/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/how-to-use-your-bong-for-dabbing.png%%" alt="How to Use Your Bong for Dabbing" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">How to Use Your Bong for Dabbing</h2>
						<p itemprop="description">We know a lot of smokers enjoy both concentrates and dry herbs. Learn how we've made it a simple process to convert your bong or glass pipe for interchangeable use with both.</p>
					</div>
				</div>
			</a>	
		</li>
			
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-10-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2015-10-07T12:21:50+00:00">
			<a href="/what-are-the-different-types-of-percs/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/what-are-the-different-types-of-percs-percolators.png%%" alt="What Are the Different Types of Percs?" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">What Are the Different Types of Percs?</h2>
						<p itemprop="description">Curious about types of percolators? This detailed list provides descriptions and videos of different perc styles and designs</p>
					</div>
				</div>
			</a>	
		</li>
			
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-09-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2015-09-07T12:21:50+00:00">
			<a href="/ten-helpful-smoking-accessories/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/ten-helpful-smoking-accessories.png%%" alt="10 Helpful Smoking Accessories" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">10 Helpful Smoking Accessories</h2>
						<p itemprop="description">A quick list of accessories that can go a long way in providing you ease and convenience</p>
					</div>
				</div>
			</a>	
		</li>
		
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-08-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2015-08-07T12:21:50+00:00">
			<a href="/why-choose-a-water-pipe-over-a-hand-pipe/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/why-choose-a-water-pipe-over-a-hand-pipe.png%%" alt="Why Choose a Water Pipe Over a Hand Pipe?" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">Why Choose a Water Pipe Over a Hand Pipe?</h2>
						<p itemprop="description">A list of the benefits of water pipes when compared to hand pipes and why you should think about choosing a water pipe over a small glass pipe</p>
					</div>
				</div>
			</a>	
		</li>
		
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-07-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2015-07-07T12:21:50+00:00">
			<a href="/why-use-a-vaporizer/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/why-use-a-vaporizer.png%%" alt="Why Use a Vaporizer?" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">Why Use a Vaporizer?</h2>
				<p>Learn the benefits to using a vaporizer instead of traditional glassware</p>
					</div>
				</div>
			</a>	
		</li>
		
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-06-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2015-06-07T12:21:50+00:00">
			<a href="/how-to-choose-the-right-vaporizer-pen/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/how-to-choose-the-right-vaporizer-pen.png%%" alt="How to Choose the Right Vaporizer Pen" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">How to Choose the Right Vaporizer Pen</h2>
						<p itemprop="description">Want a vape pen but aren't sure which is right for you? This explanation of wet and dry vape pens will point you in the right direction</p>
					</div>
				</div>
			</a>	
		</li>
		
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-05-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2015-05-07T12:21:50+00:00">
			<a href="/whats-the-difference-between-titanium-and-quartz-nails/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/whats-the-difference-between-titanium-and-quartz-nails.png%%" alt="What's the Difference Between Titanium and Quartz Nails?" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">What's the Difference Between Titanium and Quartz Nails?</h2>
						<p itemprop="description">Read about why you should upgrade from a glass nail. A side-by-side comparison of titanium and quartz nails shows you which is the right choice for you</p>
					</div>
				</div>
			</a>	
		</li>
			
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-04-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2015-04-07T12:21:50+00:00">
			<a href="/how-to-season-a-titanium-nail/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/how-to-season-a-titanium-nail.png%%" alt="How to Season a Titanium Nail" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">How to Season a Titanium Nail</h2>
						<p itemprop="description">This manual will quickly teach you what seasoning is and why the simple steps to prepare your titanium nail are well worth it</p>
					</div>
				</div>
			</a>	
		</li>
			
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-03-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2015-03-07T12:21:50+00:00">
			<a href="/everything-you-need-to-know-about-bubblers/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/everything-you-need-to-know-about-bubblers.png%%" alt="Everything You Need to Know About Bubblers" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">Everything You Need to Know About Bubblers</h2>
						<p itemprop="description">Discover everything there is to know about glass bubblers including the different styles they come in and precisely how they function</p>
					</div>
				</div>
			</a>	
		</li>
			
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-02-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2015-02-07T12:21:50+00:00">
			<a href="/whats-a-dab-rig-oil-rig/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/whats-a-dab-rig-oil-rig.png%%" alt="What's a Dab Rig/Oil Rig?" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">What's a Dab Rig/Oil Rig?</h2>
						<p itemprop="description">Learn about the benefits of using oil rigs and the common process to smoke out of one</p>
					</div>
				</div>
			</a>	
		</li>
		
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-01-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2015-01-07T12:21:50+00:00">
			<a href="/whats-a-recycler-oil-rig/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/whats-a-recycler-oil-rig.png%%" alt="What's A Recycler Oil Rig?" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">What's A Recycler Oil Rig?</h2>
						<p itemprop="description">An explanation of these intricate oil rigs and how they work</p>
					</div>
				</div>
			</a>	
		</li>
			
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2014-12-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2014-12-07T12:21:50+00:00">
			<a href="/why-use-a-carb-cap/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/whats-the-purpose-of-a-carb-cap.png%%" alt="What's the purpose of a Carb Cap?" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">Why Use a Carb Cap?</h2>
						<p itemprop="description">Why using a carb cap for your dab rig can make such a huge difference</p>
					</div>
				</div>
			</a>	
		</li>
			
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2014-11-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2014-11-07T12:21:50+00:00">
			<a href="/difference-between-scientific-and-heady-glass/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/difference-between-scientific-and-heady-glass.png%%" alt="Differences Between Scientific and Heady Glass" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">Differences Between Scientific and Heady Glass</h2>
						<p itemprop="description">Two very different types of glassware. A comparison of the two of them will help you find out which you would prefer </p>
					</div>
				</div>
			</a>	
		</li>
			
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2014-10-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2014-10-07T12:21:50+00:00">
			<a href="/why-shop-at-an-online-smoke-shop/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/why-shop-at-an-online-smoke-shop.png%%" alt="Why Shop at an Online Smoke Shop?" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">Why Shop at an Online Smoke Shop?</h2>
						<p itemprop="description">Learn about the advantages of shopping at an online head shop over traditional brick and mortar shops</p>
					</div>
				</div>
			</a>	
		</li>
			
	<!--
		<li class="wiki-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
	        <meta itemprop="author" content="Andre Bulatov">
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="DankStop">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="%%ASSET_images/DankStop-Online-Headshop-logo.png%%">
					<meta itemprop="width" content="70">
					<meta itemprop="height" content="70">
				</span>
			</span>
	        <meta itemprop="datePublished" content="2015-03-02T12:21:50+00:00">
	        <meta itemprop="dateModified" content="2015-03-07T12:21:50+00:00">
			<a href="/everything-you-need-to-know-about-bubblers/" itemprop="mainEntityOfPage">		
				<div class="wiki-inner">
					<div class="wiki-left">
						<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<img src="%%ASSET_images/wiki/everything-you-need-to-know-about-bubblers.png%%" alt="Bubblers: Everything You Need to Know" itemprop="url contentUrl" />
							<meta itemprop="width" content="200" />
							<meta itemprop="height" content="200" />
						</span>
					</div>
					<div class="wiki-right">
						<h2 itemprop="name headline">Bubblers: Everything You Need to Know</h2>
						<p itemprop="description">Read all about glass bubblers and find out about the different types of bubblers that we offer</p>
					</div>
				</div>
			</a>	
		</li>
	-->
		</ul>
	</div><!-- /.wiki-item-grid -->
</div><!-- /.wiki-container -->


<p>Have your own idea for an article? Is there something we didn't cover that you'd want to read about? Tell us at <a href="mailto:info@DankStop.com" target="_blank">info@dankstop.com</a> and receive a free coupon code for your next purchase!</p>
                                
</div>

                                %%GLOBAL_PageDescriptionOptimizerNoScriptTag%%
                            </div>
                            %%Panel.PageComments%%
                            %%Banner.BottomBanner%%
                        </div>
                        <div class="clear"></div>
                    </div>
                    
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>​