/* ----------- iPad ----------- */
/* iPad   Portrait */
@media only screen 
  and (max-device-width: 768px) 
  and (orientation: portrait) {
	#why-shop-page p {
		padding: 0;
	}
/* Section 1 - Huge Selection */
	#why-shop-page .selection-section .group {
		width: 60%;
		margin: 0;
	}
	.loading-placeholder {
		height: 100% !important;
	}
  	#why-shop-page .why-shop.MagicScroll {
		height: 100% !important;
	}
	#why-shop-page .selection-section .sub-section .section-middle {
		width: 70%;
	}
	#why-shop-page .selection-section .sub-section .section-middle ul {
		height: 100% !important;
	}
	#why-shop-page .selection-section .sub-section .section-right {
		width: 42%;
		top: -64%;
		right: 10%;
	}
	#why-shop-page .selection-section .sub-section .section-right img {
		margin-top: 0;
	}
/* Section 2 - Low Prices */
	#why-shop-page .prices-section .section-right .group-top h3 {
		padding: 0;
	}
	#why-shop-page .prices-section .section-left {
		width: 16%;
		position: absolute;
		top: 37%;
		left: 3%;
	}
	#why-shop-page .prices-section .section-right .group-top {
		width: 100%;
		margin-bottom: 3vw;
	}
	#why-shop-page .prices-section .section-right {
		width: 100%;
	}
	#why-shop-page .prices-section .section-right .group-bottom h3,  
	#why-shop-page .prices-section .section-right .group-bottom ul {
		padding: 0;
		width: 70%;
		margin: 0 0 0 auto;
	}
	#why-shop-page .prices-section .section-right .group-bottom ul li + li {
		margin-top: 10px;
	}
	#why-shop-page .prices-section .section-right .group-bottom ul {
		margin-bottom: 4vw;
		line-height: 17px;
	}
/* Section 3 - Fast Shipping */
	#why-shop-page .shipping-section .sub-section.clock img {
		width: 20%;
		margin: -3% 2% -2% 0;
		position: absolute;
		right: 30px;
	}
	#why-shop-page .shipping-section .sub-section.map {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		/* optional */
		-webkit-box-align: start;
		-moz-box-align: start;
		-ms-flex-align: start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}
	#why-shop-page .shipping-section .sub-section.map .section-left {
		width: 100%;
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}
	#why-shop-page .shipping-section .sub-section.map .section-right {
		width: 100%;
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
		margin-bottom: 30px;
	}
	#why-shop-page .shipping-section .sub-section.map .section-right > p {
		font-size: 15px;
	}
	#why-shop-page .shipping-section .sub-section.map .section-right ul {
		margin: 0;
	}
/* Section 4 - Customer Service */
	#why-shop-page .service-section .sub-section img {
		width: 30%;
		right: 60px;
		top: -40px;
	}
/* Section 5 - Convenience */
	#why-shop-page .convenient-section .sub-section img {
		width: 48%;
		margin: -70px 0;
	}
/* Section 6 - Quality */
	#why-shop-page .quality-section .section-top .section-left {
		font-size: 12px;
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
	#why-shop-page .quality-section .section-top .section-right {
		width: 100%;
	}
	#why-shop-page .quality-section .section-top .section-right p {
		width: 59%;
	}
	#why-shop-page .quality-section .section-top .section-right img {
		width: 30%;
		top: 0;
		right: 0%;
	}
	#why-shop-page .quality-section .section-top {
		margin: 20px 0 110px 0;
	}
	#why-shop-page .quality-section .section-top .section-left h3 {
		padding: 0;
		width: 100%;
		position: absolute;
		top: 370px;
		text-align: center;
		font-size: 13px;
	}
	#why-shop-page .quality-section .section-bottom .quality-step span {
		font-size: 9px;
		margin-top: -5px;
		line-height: 13px;
	}
}
/* iPad    Landscape */
@media only screen 
  and (max-device-width: 1024px) 
  and (orientation: landscape) {
/* Section 1 - Huge Selection */
	#why-shop-page .mcs-item li .ProductImage a {
		padding: 20% 0 0;
	}
	#why-shop-page .selection-section .sub-section .section-right img {
		margin-top: 0;
	}
/* Section 2 - Low Prices */
	#why-shop-page .prices-section .section-left {
		width: 17%;
		position: absolute;
		top: 34%;
		left: 7%;
	}
	#why-shop-page .prices-section .section-right .group-top {
		width: 100%;
		margin-bottom: 20px;
	}
	#why-shop-page .prices-section .section-right {
		width: 100%;
	}
	#why-shop-page .prices-section .section-right .group-bottom h3,  
	#why-shop-page .prices-section .section-right .group-bottom ul {
		padding: 0;
		width: 70%;
		margin: 0 0 0 auto;
	}
	#why-shop-page .prices-section .section-right .group-bottom ul li + li {
		margin-top: 10px;
	}
	#why-shop-page .prices-section .section-right .group-bottom ul {
		margin-bottom: 4vw;
		line-height: 17px;
	}
/* Section 3 - Fast Shipping */
	#why-shop-page .shipping-section .sub-section.clock img {
		width: 21%;
	}
/* Section 4 - Customer Service */
	#why-shop-page .service-section .sub-section img {
		width: 30%;
	}
/* Section 5 - Convenience */
	#why-shop-page .convenient-section .sub-section img {
		width: 40%;
		margin: -9% 5%;
	}
/* Section 6 - Quality */
	#why-shop-page .quality-section .section-top .section-right img {
		margin: -72px 0 0 -20%;
	}
}









/* ----------- iPhone 6+ ----------- */
/* iPhone 6+    Portrait */
@media only screen and (max-device-width: 414px) and (orientation: portrait) { 
	#why-shop-page .section-heading h2 {
		font-size: 17px;
		vertical-align: text-bottom;
	}
/* Section 1 - Huge Selection */
	#why-shop-page .selection-section .group {
		width: 50%;
		margin: 0;
	}
	#why-shop-page .selection-section .sub-section .section-right {
		width: 67%;
		top: -76%;
		right: 0;
	}
	#why-shop-page .selection-section .sub-section .section-right img + img {
		margin-right: -20px;
	}
	#why-shop-page .selection-section .sub-section {
		height: auto;
	}
	#why-shop-page .selection-section .sub-section .section-left {
		width: 50%;
	}
	#why-shop-page .selection-section .sub-section .section-middle {
		width: 50%;
		line-height: 13.5px;
		padding: 2% 0;
	}
/* Section 2 - Low Prices */
	#why-shop-page .prices-section h3 {
		font-size: 15px;
	}
	#why-shop-page .prices-section .section-left {
		width: 26%;
		left: 3%;
	}
/* Section 3 - Fast Shipping */
	#why-shop-page .shipping-section .sub-section.clock p {
		width: 56%;
	}
	#why-shop-page .shipping-section .sub-section.clock img {
		width: 41%;
		margin: -5% 3% -2% 0;
		position: absolute;
		right: 0;
	}
/* Section 4 - Customer Service */
	#why-shop-page .service-section .sub-section {
		margin-bottom: 60px;
		font-size: 11px;
	}
	#why-shop-page .service-section .sub-section ul {
		margin: 2% 0 2% 2%;
	}
	#why-shop-page .service-section .sub-section li {
		margin: 7px 0;
	}
	#why-shop-page .service-section .sub-section li .span-left {
		width: 97px;
	}
	#why-shop-page .service-section .sub-section img {
		width: 30%;
		right: 4%;
		top: 10%;
	}
/* Section 5 - Convenience */
	#why-shop-page .convenient-section .sub-section {
		margin-bottom: 60px;
		font-size: 14px;
	}
	#why-shop-page .convenient-section .sub-section ul {
		padding: 10px 0 30px 60px;
	}
	#why-shop-page .convenient-section .sub-section ul li:nth-of-type(3),
	#why-shop-page .convenient-section .sub-section ul li:nth-of-type(4) {
		width: 54%;
	}
	#why-shop-page .convenient-section .sub-section img {
		margin: 0;
		bottom: -20%;
		right: 5%;
		width: 47%;
	}
/* Section 6 - Quality */
	#why-shop-page .quality-section .section-top .section-right p {
		width: 59%;
	}
	#why-shop-page .quality-section .section-top .section-right img {
		width: 46%;
		margin: 0;
		top: -57px;
	}
}
/* iPhone 6+     Landscape */
@media only screen 
  and (max-device-width: 736px) 
  and (orientation: landscape) { 
/* Section 1 - Huge Selection */
/* Section 2 - Low Prices */
/* Section 3 - Fast Shipping */
/* Section 4 - Customer Service */
/* Section 5 - Convenience */
/* Section 6 - Quality */
}





/* ----------- iPhone 6 ----------- */
/* ----------- iPhone 6 Portrait ----------- */
@media only screen 
  and (max-device-width: 375px) 
  and (orientation: portrait) { 
	#why-shop-page .section-heading h2 {
		font-size: 14px;
		vertical-align: text-bottom;
	}
	#why-shop-page .prices-section h3 {
		font-size: 13px;
	}
	#why-shop-page .shipping-section .sub-section.clock p {
		font-size: 15px;
	}
	#why-shop-page .shipping-section .sub-section.clock img {
		width: 44%;
		right: -1%;
	}
	#why-shop-page .quality-section .section-top .section-right img {
		width: 50%;
	}
	#why-shop-page .quality-section .section-top {
		margin: 20px 0 80px 0;
	}
	#why-shop-page .quality-section .section-top .section-left h3 {
		top: 380px;
	}
}
/* ----------- iPhone 6 Landscape ----------- */
@media only screen 
  and (max-device-width: 667px) 
  and (orientation: landscape) { 
	#why-shop-page .prices-section .section-left {
		top: 39%;
		width: 19%;
		left: 7%;
	}
	#why-shop-page .shipping-section .sub-section.clock img {
		width: 26%;
		margin: -4% 6% -2% 0;
	}
	#why-shop-page .quality-section .section-top .section-right img {
		margin: -72px 0 0 -24%;
	}
}







/* ----------- iPhone 5 and 5S ----------- */
/* iPhone 5 and 5S    Landscape */
@media only screen 
  and (max-device-width: 568px)
  and (orientation: landscape) {
}











/* ----------- iPhone 4 and 4S ----------- */
/* iPhone 4 and 4S    Landscape */
@media only screen 
  and (max-device-width: 480px)
  and (orientation: landscape) {
}
/* iPhone 4 and 4s and 5 and 5s    Portrait */
@media only screen 
  and (max-device-width: 320px)
  and (orientation: portrait) {
	#why-shop-page .section-heading img {
		margin: -7px 10px 0 20px;
	}
	#why-shop-page .section-heading h2 {
		font-size: 13px;
		vertical-align: text-bottom;
	}
	#why-shop-page p {
		padding: 0;
		font-size: 11px;
		line-height: 17px;
	}
}


