/* ----------- iPad ----------- */
/* iPad    Landscape */
@media only screen 
  and (max-device-width: 768px) 
  and (orientation: landscape) {
	#why-shop-page:before {
		content: "iPaaaaddd LANDSCAPE";
		background-color: purple;
		color: #fff;
		font-size: 50px;
		line-height: 90px;
		width: 100%;
		text-align: center;
		display: block;
		height: 190px;
	}
/* Section 1 - Huge Selection */
	#why-shop-page .mcs-item li .ProductImage a {
		padding: 20% 0 0;
	}
	#why-shop-page .selection-section .sub-section .section-right img {
		margin-top: 0;
	}
/* Section 2 - Low Prices */
	#why-shop-page .prices-section .section-left {
		width: 17%;
		position: absolute;
		top: 34%;
		left: 30px;
	}
	#why-shop-page .prices-section .section-right .group-top {
		width: 100%;
		margin-bottom: 20px;
	}
	#why-shop-page .prices-section .section-right {
		width: 100%;
	}
	#why-shop-page .prices-section .section-right .group-bottom h3,  
	#why-shop-page .prices-section .section-right .group-bottom ul {
		padding: 0;
		width: 70%;
		margin: 0 0 0 auto;
	}
	#why-shop-page .prices-section .section-right .group-bottom ul li + li {
		margin-top: 10px;
	}
	#why-shop-page .prices-section .section-right .group-bottom ul {
		margin-bottom: 4vw;
		line-height: 17px;
	}
/* Section 3 - Fast Shipping */
	#why-shop-page .shipping-section .sub-section.clock img {
		width: 21%;
	}
/* Section 4 - Customer Service */
	#why-shop-page .service-section .sub-section img {
		width: 30%;
	}
/* Section 5 - Convenience */
	#why-shop-page .convenient-section .sub-section img {
		width: 40%;
		margin: -9% 5%;
	}
/* Section 6 - Quality */
	#why-shop-page .quality-section .section-top .section-right img {
		margin: -72px 0 0 -20%;
	}
}
/* iPad   Portrait */
@media only screen 
  and (max-device-width: 768px) 
  and (orientation: portrait) {
	#why-shop-page:before {
		content: "iPaaaddd PORTRAIT";
		background-color: purple;
		color: #fff;
		font-size: 50px;
		line-height: 90px;
		width: 100%;
		text-align: center;
		display: block;
		height: 190px;
	}
	#why-shop-page p {
		padding: 0;
	}
	#why-shop-page p {
		/* font-size: 11px; */
		/* line-height: 17px; */
	}
/* Section 1 - Huge Selection */
	#why-shop-page .selection-section .group {
		width: 60%;
		margin: 0;
	}
	.loading-placeholder {
		height: 100% !important;
	}
  	#why-shop-page .why-shop.MagicScroll {
		height: 100% !important;
	}
	#why-shop-page .selection-section .sub-section .section-middle {
		width: 70%;
	}
	#why-shop-page .selection-section .sub-section .section-middle ul {
		height: 2% !important;
	}
	#why-shop-page .selection-section .sub-section .section-right {
		width: 42%;
		top: -64%;
		right: 10%;
	}
	#why-shop-page .selection-section .sub-section .section-right img {
		margin-top: 0;
	}
/* Section 2 - Low Prices */
	#why-shop-page .prices-section .section-right .group-top h3 {
		padding: 0;
	}
	#why-shop-page .prices-section .section-left {
		width: 16%;
		position: absolute;
		top: 37%;
		left: 30px;
	}
	#why-shop-page .prices-section .section-right .group-top {
		width: 100%;
		margin-bottom: 3vw;
	}
	#why-shop-page .prices-section .section-right {
		width: 100%;
	}
	#why-shop-page .prices-section .section-right .group-bottom h3,  
	#why-shop-page .prices-section .section-right .group-bottom ul {
		padding: 0;
		width: 70%;
		margin: 0 0 0 auto;
	}
	#why-shop-page .prices-section .section-right .group-bottom ul li + li {
		margin-top: 10px;
	}
	#why-shop-page .prices-section .section-right .group-bottom ul {
		margin-bottom: 4vw;
		line-height: 17px;
	}
/* Section 3 - Fast Shipping */
	#why-shop-page .shipping-section .sub-section.clock img {
		width: 20%;
		margin: -3% 2% -2% 0;
		position: absolute;
		right: 30px;
	}
	#why-shop-page .shipping-section .sub-section.map {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		/* optional */
		-webkit-box-align: start;
		-moz-box-align: start;
		-ms-flex-align: start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}
	#why-shop-page .shipping-section .sub-section.map .section-left {
		width: 100%;
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}
	#why-shop-page .shipping-section .sub-section.map .section-right {
		width: 100%;
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
		margin-bottom: 30px;
	}
	#why-shop-page .shipping-section .sub-section.map .section-right > p {
		font-size: 15px;
	}
	#why-shop-page .shipping-section .sub-section.map .section-right ul {
		margin: 0;
	}
/* Section 4 - Customer Service */
	#why-shop-page .service-section .sub-section img {
		width: 30%;
		right: 60px;
		top: -40px;
	}
/* Section 5 - Convenience */
	#why-shop-page .convenient-section .sub-section img {
		width: 48%;
		margin: -70px 0;
	}
/* Section 6 - Quality */
	#why-shop-page .quality-section .section-top .section-left {
		font-size: 12px;
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
	#why-shop-page .quality-section .section-top .section-right {
		width: 100%;
	}
	#why-shop-page .quality-section .section-top .section-right p {
		width: 63%;
	}
	#why-shop-page .quality-section .section-top .section-right img {
		width: 30%;
		top: 0;
		right: 0%;
	}
	#why-shop-page .quality-section .section-top {
		margin: 20px 0 110px 0;
	}
	#why-shop-page .quality-section .section-top .section-left h3 {
		padding: 0;
		width: 100%;
		position: absolute;
		top: 370px;
		text-align: center;
		font-size: 13px;
	}
	#why-shop-page .quality-section .section-bottom .quality-step span {
		font-size: 9px;
		margin-top: -5px;
		line-height: 13px;
	}
}


/* Section 1 - Huge Selection */
/* Section 2 - Low Prices */
/* Section 3 - Fast Shipping */
/* Section 4 - Customer Service */
/* Section 5 - Convenience */
/* Section 6 - Quality */









/* ----------- iPhone 6+ ----------- */
/* iPhone 6+     Landscape */
@media only screen 
  and (max-device-width: 414px) 
  and (orientation: landscape) { 
	#why-shop-page:before {
		content: "iPnone 6+++ LANDSCAPE";
		background-color: green;
		color: #fff;
		font-size: 50px;
		line-height: 90px;
		width: 100%;
		text-align: center;
		display: block;
		height: 190px;
	}
}
/* iPhone 6+    Portrait */
@media only screen 
  and (max-device-width: 414px) 
  and (orientation: portrait) { 
	#why-shop-page:before {
		content: "iPnone 6+++ PORTRAIT";
		background-color: green;
		color: #fff;
		font-size: 50px;
		line-height: 90px;
		width: 100%;
		text-align: center;
		display: block;
		height: 190px;
	}
}





/* ----------- iPhone 6 ----------- */
/* ----------- iPhone 6 Landscape ----------- */
@media only screen 
  and (max-device-width: 375px) 
  and (orientation: landscape) { 
	#why-shop-page:before {
		content: "iPnone 6666 LANDSCAPE";
		background-color: blue;
		color: #fff;
		font-size: 50px;
		line-height: 90px;
		width: 100%;
		text-align: center;
		display: block;
		height: 190px;
	}
}
/* ----------- iPhone 6 Portrait ----------- */
@media only screen 
  and (max-device-width: 375px) 
  and (orientation: portrait) { 
	#why-shop-page:before {
		content: "iPnone 6666 PORTRAIT";
		background-color: blue;
		color: #fff;
		font-size: 50px;
		line-height: 90px;
		width: 100%;
		text-align: center;
		display: block;
		height: 190px;
	}
}
















/* ----------- iPhone 4, 4s, 5, 5s ----------- */
/* iPhone 4, 4s, 5, 5s    Landscape */
@media only screen 
  and (max-device-width: 320px)
  and (orientation: landscape) {
	#why-shop-page:before {
		content: "iPnone 4, 4s, 5, 5s LANDSCAPE";
		background-color: green;
		color: #fff;
		font-size: 50px;
		line-height: 90px;
		width: 100%;
		text-align: center;
		display: block;
		height: 190px;
	}
}
/* iPhone 4, 4s, 5, 5s    Portrait */
@media only screen 
  and (max-device-width: 320px)
  and (orientation: portrait) {
	#why-shop-page:before {
		content: "iPnone 4, 4s, 5, 5s PORTRAIT";
		background-color: green;
		color: #fff;
		font-size: 50px;
		line-height: 90px;
		width: 100%;
		text-align: center;
		display: block;
		height: 190px;
	}
	#why-shop-page .section-heading img {
		margin: -7px 10px 0 20px;
	}
	#why-shop-page .section-heading h2 {
		font-size: 13px;
		vertical-align: text-bottom;
	}
	#why-shop-page p {
		padding: 0;
		font-size: 11px;
		line-height: 17px;
	}
}



















