<style>
.bx-wrapper {
	margin-bottom: 20px !important;
}
.bx-wrapper .bx-viewport {
	border-bottom: 0;
}
</style>
<ul class="bxslider" style="list-style:none; margin:0;">
<!-- Slide #1 -->
    <li>  
      <img src="/content/images/slider/banner5.gif" />
    </li>
<!-- Slide #2 -->
    <li>
      <img src="/content/images/slider/COSMICBANNER.jpg" />
    </li>
<!-- Slide #3 -->
    <li>
      <img src="/content/images/slider/tornadosmall.gif" />
    </li>
<!-- Slide #4 -->
    <li>
      <img src="/content/images/slider/purr2gobanner.png" />
    </li>
<!-- Slide #5 -->
    <li>
      <img src="/content/images/slider/GLOWBANNER.gif" />
    </li>
<!-- Slide #6 -->
    <li>  
      <img src="/content/images/slider/banner5.gif" />
    </li>
<!-- Slide #7 -->
    <li>
      <img src="/content/images/slider/COSMICBANNER.jpg" />
    </li>
<!-- Slide #8 -->
    <li>
      <img src="/content/images/slider/tornadosmall.gif" />
    </li>
<!-- Slide #9 -->
    <li>
      <img src="/content/images/slider/purr2gobanner.png" />
    </li>
<!-- Slide #10 -->
    <li>
      <img src="/content/images/slider/GLOWBANNER.gif" />
    </li>
</ul>