<div class="flexslider slide-show slide-show-render slide-show-render-full flexslider Panel" data-swap-frequency="%%GLOBAL_SwapFrequency%%" id="HomeSlideShow">
  <ul class="slides">
<!-- Slide #1 data-thumb="/content/images/slider/banner5.gif" -->
    <li>  
      <img src="/content/images/slider/banner5.gif" />
    </li>
<!-- Slide #2 -->
    <li>
      <img src="/content/images/slider/GLOWBANNER.gif" />
    </li>
<!-- Slide #3 -->
    <li>
      <img src="/content/images/slider/COSMICBANNER.jpg" />
    </li>
<!-- Slide #4 -->
    <li>
      <img src="/content/images/slider/handpipes.jpg" />
    </li>
<!-- Slide #5 -->
    <li>
      <img src="/content/images/slider/purr2gobanner.png" />
    </li>
<!-- Slide #6 -->
    <li>
      <img src="/content/images/slider/tornadosmall.gif" />
    </li>
<!-- Slide #7 -->
    <li>
      <img src="/content/images/slider/pipesunder100tile.jpg" />
    </li>
<!-- Slide #8 -->
    <li>
      <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel2.jpg" />
    </li>
<!-- Slide #9 -->
    <li>
      <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel1.jpg" />
    </li>
<!-- Slide #10 -->
    <li>
      <img src="/content/images/slider/purr2gobanner.png" />
    </li>
<!-- Slide #11 -->
    <li>
      <img src="/content/images/slider/tornadosmall.gif" />
    </li>
<!-- Slide #12 -->
    <li>
      <img src="/content/images/slider/pipesunder100tile.jpg" />
    </li>
<!-- Slide #13 -->
    <li>
      <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel2.jpg" />
    </li>
<!-- Slide #14 -->
    <li>
      <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel1.jpg" />
    </li>
<!-- Slide #15 -->
    <li>
      <img src="/content/images/slider/COSMICBANNER.jpg" />
    </li>
  </ul>
</div>
