http://www.420science.com/index.html
<div id="lftNavv"><h5>CONSUMPTION</h5>
<a href="/store.html#Purr" onmouseover="shNavImg(this)" id="purr">Purr Glass</a>
<a href="/store.html#glass" onmouseover="shNavImg(this)" id="grav">Grav Labs</a>
<a href="/stax.html" onmouseover="shNavImg(this)" id="STAX">STAX</a>
<a href="/store.html#vapes" onmouseover="shNavImg(this)" id="vapes">Vape Pens</a>
<a href="/store.html#closeout" onmouseover="shNavImg(this)" id="SPG">Closeout Glass</a>
<a href="/Glass-Filter-Tips-3-Pack" onmouseover="shNavImg(this)" id="filters">Glass Filter Tips</a>
<a href="/Hand-Pipes" onmouseover="shNavImg(this)" id="handpipe">Hand Pipes</a>
<a href="/Grav-Labs-Basic-Bubbler-Black" onmouseover="shNavImg(this)" id="Grav">Basic Bubblers</a>
<a href="/Grav-Slushie-Cup-Black" onmouseover="shNavImg(this)" id="slush">Grav Slush Cup</a>
<h5>GRINDERS</h5>
<a href="/store.html#grinders" onmouseover="shNavImg(this)" id="cali">Cali Crusher</a>
<a href="/store.html#kannastor" onmouseover="shNavImg(this)" id="cali">Kannastor</a>
<a href="/store.html#cosmic" onmouseover="shNavImg(this)" id="cali">Cosmic</a>
<h5>ACCESSORIES</h5>
<a href="/Wax-Wallet-Small-Green" onmouseover="shNavImg(this)" id="wallet">Wax Wallet</a>
<a href="/DabDish-Pro-Small" onmouseover="shNavImg(this)" id="dabdish">DabDish Silicone</a>
<a href="/NoGoo-5-Pack" onmouseover="shNavImg(this)" id="nogoo">NoGoo Silicone</a>
<a href="/Vector-Torch" onmouseover="shNavImg(this)" id="torches">Torches</a>
<a href="/store.html#accessories" onmouseover="shNavImg(this)" id="domeless">Domeless</a>
<a href="/store.html#accessories" onmouseover="shNavImg(this)" id="nails">Nails</a>
<a href="/store.html#accessories" onmouseover="shNavImg(this)" id="domes">Domes</a>
<a href="/store.html#accessories" onmouseover="shNavImg(this)" id="dabbers">Dabbers</a>
<a href="/dime-bags" onmouseover="shNavImg(this)" id="dimebags">Dime Bags</a>
<h5>CLEANING</h5>
<a href="/OCD-Pack-Bundle" onmouseover="shNavImg(this)" id="ocd">OCD Pack</a>
<a href="/rezblock-concentrate" onmouseover="shNavImg(this)" id="rezblock">RezBlock</a>
<a href="/smokesoap-8oz" onmouseover="shNavImg(this)" id="smokesoap">8oz Smoke Soap</a>
<a href="/smokesoap-32oz" onmouseover="shNavImg(this)" id="smokesoap">32oz Smoke Soap</a>
<a href="/Smoke-Soap-70oz-Tub" onmouseover="shNavImg(this)" id="smokesoap" smoke="" soap="" tubs<="" a="">
</a><a href="/420-wipes" onmouseover="shNavImg(this)" id="420wipes">420 Wipes</a>
<h5>GOODIES</h5>
<a href="/Grass-Roots-Hats-7-1-8" onmouseover="shNavImg(this)" id="grass">Grass Roots Hats</a>
<a href="/420-Science-Silver-Pin" onmouseover="shNavImg(this)" id="pins">Hat Pins</a>
<a href="/420-Science-T-Shirts-L" onmouseover="shNavImg(this)" id="shirts">T-Shirts</a>
<a href="/420-Stickers" onmouseover="shNavImg(this)" id="stickers">Stickers</a>
<a href="/420-Science-Sunglasses-Green" onmouseover="shNavImg(this)" id="glasses">Sunglasses</a>
<a href="/420-Science-poster" onmouseover="shNavImg(this)" id="posters">Posters</a>
<h5>OPTICS</h5>
<a href="/420-Scope" onmouseover="shNavImg(this)" id="420scope">420 Scope</a>
<a href="/800x-USB-Microscope" onmouseover="shNavImg(this)" id="USB">800x USB</a>
<a href="/200x-USB-Microscope" onmouseover="shNavImg(this)" id="USB">200x USB</a>




<script>
function shNavImg(th) {
	var bkImg = "url(/menu-img/left_menu_" + th.getAttribute("id") + ".jpg)";
	document.getElementById("lftImg").style.backgroundImage = bkImg
}
</script></div>

