<div class="CategoryList" id="SideCategoryList">
    
    <!--<div id="biosnippet" STYLE="TEXT-ALIGN:CENTER;">
        <H1 class="smallh">THE WORLDS BEST ONLINE HEADSHOP!</H1>
<p style="border-top: solid 1px black;color: rgb(58, 173, 58);border-bottom: solid 1px black;margin-top: 10px;padding-top: 5px;padding-bottom: 5px; text-align:center;">FREE SHIPPING ON EVERY ORDER!</p>
    </div>-->
       
    <h4>%%LNG_ProductsByCategory%%</h4>
<!--    <h5>%%LNG_ProductsByCategory%%</h5> -->
    <div class="BlockContent" style="display:none;">
        <div class="%%GLOBAL_SideCategoryListTypeClass%%">
            %%SNIPPET_SideCategoryList%%
        </div>
    </div> 
    
</div>

<script type="text/javascript">
//<![CDATA[
    $('.SideCategoryListClassic ul, .SideCategoryListFlyout li').remove(":contains('Glass Pipes for Dry Herbs and Tobacco')");
    
    function hideWholesaleCategory() {
        $('.CategoryList ul li:contains("Wholesale Glass Pipes")').hide();
        $('.CategoryList ul li:contains("New Items")').console.log('HELLO!!');
        //find('a').attr('href', 'dankstop.com/categories/?sort=newest');
        console.log('HELLO!!');
    }
    $(document).ready( function () {
        hideWholesaleCategory();
    });
//]]>
</script>

​