<div class="flexslider">
  <ul class="slides">
<!-- Slide #1 -->
    <li data-thumb="/content/images/slider/banner5.gif">
      <img src="/content/images/slider/banner5.gif" />
    </li>
<!-- Slide #2 -->
    <li data-thumb="">
      <img src="/content/images/slider/GLOWBANNER.gif" />
    </li>
<!-- Slide #3 -->
    <li data-thumb="">
      <img src="/content/images/slider/COSMICBANNER.jpg" />
    </li>
<!-- Slide #4 -->
    <li>
      <img src="/content/images/slider/handpipes.jpg" />
    </li>
<!-- Slide #5 -->
    <li>
      <img src="/content/images/slider/purr2gobanner.png" />
    </li>
<!-- Slide #6 -->
    <li>
      <img src="/content/images/slider/tornadosmall.gif" />
    </li>
<!-- Slide #7 -->
    <li>
      <img src="/content/images/slider/pipesunder100tile.jpg" />
    </li>
<!-- Slide #8 -->
    <li>
      <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel2.jpg" />
    </li>
<!-- Slide #9 -->
    <li>
      <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel1.jpg" />
    </li>
  </ul>
</div>
