<div class="slide-show slide-show-render slide-show-render-full flexslider Panel" data-swap-frequency="%%GLOBAL_SwapFrequency%%" id="HomeSlideShow">
    <ol class="slides">
        %%SNIPPET_SlideList%%
    </ol>
</div>
<!-- //slide-show -->​

<!-- http://www.rhinoslider.com/demo-download/ -->

<link type="text/css" rel="stylesheet" href="/css/rhinoslider.css">
<script type="text/javascript" src="/js/rhinoslider.js"></script>
<script type="text/javascript">
	$('#your-id').rhinoslider({
		options: value
	});
</script>

<div class="rhino-container rhino-controls-prev-next rhino-controls-play-pause rhino-show-controls rhino-show-bullets rhino-pause-on-hover rhino-controls-keyboard rhino-controls-mousewheel" style="position: relative; top: auto; right: auto; bottom: auto; left: 10px; margin: 0px; width: 600px; height: 250px;"><ul class="slideshow" id="slideshow" style="width: 100%; height: 100%; top: auto; left: auto; position: relative; overflow: hidden;">
		<li class="rhino-item" id="rhino-item0" style="margin: 0px; width: 600px; height: 250px; position: absolute; top: 0px; left: 0px; z-index: 0; opacity: 0; overflow: hidden;"><img src="/img/001.jpg" alt="">

			<div class="rhino-caption"><strong>HTML Caption</strong> -
				<a href="http://rhinoslider.com/">www.rhinoslider.com</a>
			</div>
		</li>
		<li class="rhino-item" id="rhino-item1" style="margin: 0px; width: 600px; height: 250px; position: absolute; top: 0px; left: 0px; z-index: 0; opacity: 0; overflow: hidden;"><img src="/img/002.jpg" alt=""></li>
		<li class="rhino-item" id="rhino-item2" style="margin: 0px; width: 600px; height: 250px; position: absolute; top: 0px; left: 0px; z-index: 0; opacity: 0; overflow: hidden;"><img src="/img/003.jpg" alt=""></li>
		<li class="rhino-item" id="rhino-item3" style="margin: 0px; width: 600px; height: 250px; position: absolute; top: 0px; left: 0px; z-index: 0; opacity: 0; overflow: hidden;"><img src="/img/004.jpg" alt=""></li>
		<li class="rhino-item rhino-active" id="rhino-item4" style="margin: 0px; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 1; opacity: 1; overflow: hidden;"><img src="/img/005.jpg" alt=""></li>
	</ul>
<!-- controls -->
	<a class="rhino-prev rhino-btn" style="position: absolute; display: none; cursor: pointer;">prev</a>
	<a class="rhino-next rhino-btn" style="position: absolute; display: none; cursor: pointer;">next</a>
	<a class="rhino-toggle rhino-play rhino-btn" style="position: absolute; display: none; cursor: pointer;">play</a>
	<ol class="rhino-bullets" style="display: none;">
	<li><a id="rhino-item0-bullet" class="rhino-bullet rhino-first-bullet">1</a></li>
	<li><a id="rhino-item1-bullet" class="rhino-bullet">2</a></li>
	<li><a id="rhino-item2-bullet" class="rhino-bullet">3</a></li>
	<li><a id="rhino-item3-bullet" class="rhino-bullet">4</a></li>
	<li><a id="rhino-item4-bullet" class="rhino-bullet rhino-last-bullet rhino-active-bullet">5</a></li>
	</ol>
</div>
