<div class="slider-wrapper theme-default">
    <div class="ribbon"></div>
	<div id="sliderMobile" class="nivoSlider">
<!-- Slide #1 -->
	    <img src="/content/images/slider/banner5.gif" alt="" title="" data-thumb="" data-transition="" />
<!-- Slide #2 -->
<!-- To make the whole slide a link, just put it inside of an anchor tag "<a>" like this slide #2 here -->
	    <a href="http://andrebulatov.com">
		    <img src="/content/images/slider/GLOWBANNER.gif" alt="" title=""  data-thumb="" data-transition=""/>
	    </a>
<!-- Slide #3 -->
	    <img src="/content/images/slider/COSMICBANNER.jpg" alt="" title="#htmlcaption3"  data-thumb="" data-transition=""/>
<!-- Slide #4 -->
	    <img src="/content/images/slider/handpipes.jpg" alt="" title="This is an example of a simpler to use caption" data-thumb="" data-transition=""/>
<!-- Slide #5 -->
	    <img src="/content/images/slider/purr2gobanner.png" alt="" title="Andre says this caption is even easier to use..." data-thumb="" data-transition="" />
<!-- Slide #6 -->
	    <a href="http://andrebulatov.com">
		    <img src="/content/images/slider/tornadosmall.gif" alt="" title="#htmlcaption6"  data-thumb="" data-transition=""/>
	    </a>
<!-- Slide #7 -->
	    <img src="/content/images/slider/pipesunder100tile.jpg" alt="" title="#htmlcaption7"  data-thumb="" data-transition=""/>
<!-- Slide #8 -->
	    <img src="/content/images/slider/COSMICBANNER.jpg" alt="" title=""  data-thumb="" data-transition=""/>
<!-- Slide #9 -->
	    <img src="/content/images/slider/handpipes.jpg" alt="" title="" data-thumb="" data-transition=""/>
<!-- Slide #10 -->
	    <img src="/content/images/slider/purr2gobanner.png" alt="" title="#htmlcaption10" data-thumb="" data-transition="" />
<!-- Slide #11 -->
	    <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel2.jpg" alt="" title="I think this image size is better for desktop AND mobile...." data-thumb="" data-transition="" />
<!-- Slide #12 -->
	    <a href="http://andrebulatov.com">
		    <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel1.jpg" alt="" title="...as particularly on mobile, we will be making better use of the screen and slider with this width to height ratio."  data-thumb="" data-transition=""/>
	    </a>
<!-- Slide #13 -->
	    <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel2.jpg" alt="" title="I believe it's 960x450pxThis is an example of a simpler to use caption"  data-thumb="" data-transition=""/>
<!-- Slide #14 -->
	    <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel1.jpg" alt="" title="" data-thumb="" data-transition=""/>
	</div>
	<div id="htmlcaption3" class="nivo-html-caption">
	    <strong>This</strong> is an example of awesome <em>HTML</em> captions with <a href="http://andrebulatov.com">links!</a> - 3.
	</div>
	<div id="htmlcaption6" class="nivo-html-caption">
	    6 - <strong>This</strong> is another example of a <em>HTML</em> caption with an even cooler<a href="http://andrebulatov.com"> link</a>.
	</div>
	<div id="htmlcaption7" class="nivo-html-caption">
	    7 - <strong>This</strong> is another example of a <em>HTML</em> caption with an even cooler<a href="http://andrebulatov.com"> link</a>.
	</div>
	<div id="htmlcaption10" class="nivo-html-caption">
	    10 - <strong>This</strong> is another example of a <em>HTML</em> caption with an even cooler<a href="http://andrebulatov.com"> link</a>.
	</div>
	<div id="htmlcaption12" class="nivo-html-caption">
	    12 - <strong>This</strong> is another example of a <em>HTML</em> caption with an even cooler<a href="http://andrebulatov.com"> link</a>.
	</div>
</div>